#Este archivo contiene variables de entorno sensibles y configuraciones que no deben ser compartidas públicamente. Asegúrate de mantener este archivo seguro y de no subirlo a repositorios públicos.
#Las variables de entorno se utilizan para configurar aspectos sensibles de la aplicación, como credenciales de correo electrónico, claves secretas, configuraciones de base de datos, etc. Asegúrate de reemplazar los valores de ejemplo con tus propias configuraciones antes de ejecutar la aplicación.
EMAIL_HOST_USER=example@gmail.com #Reemplaza con tu correo electrónico real
EMAIL_HOST_PASSWORD=abcd efgh ijkl mnop #Reemplaza con tu contraseña real (considera usar una contraseña de aplicación si usas Gmail)
VITE_API_URL=http://localhost:8000 #Reemplaza con la URL de tu backend si es diferente
FRONTEND_URL=http://localhost:5173 #Reemplaza con la URL de tu frontend si es diferente
SECRET_KEY='django-insecure-cambiame-en-produccion' #Reemplaza con tu clave secreta real
DEBUG=True #Cambia a False en producción
ALLOWED_HOSTS=localhost, #Reemplaza con los hosts permitidos en producción, separados por comas
CORS_ALLOW_ALL_ORIGINS=True #Ten cuidado con esta configuración en producción, es mejor especificar los orígenes permitidos
DB_ENGINE= #Reemplaza con el motor de base de datos que estás utilizando (por ejemplo, django.db.backends.postgresql)
DB_NAME= #Reemplaza con el nombre de tu base de datos
DB_USER= #Reemplaza con el nombre de usuario de tu base de datos
DB_PASSWORD= #Reemplaza con la contraseña de tu base de datos
DB_HOST= #Reemplaza con la dirección de tu servidor de base de datos (por ejemplo, localhost o una IP)
DB_PORT= #Reemplaza con el puerto de tu servidor de base de datos (por ejemplo, 5432 para PostgreSQL)